.popup {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0 0 0/ 50%);
  width: 100%;
  height: 100%;
  align-content: stretch;
  justify-content: center;
  align-items: center;
}
