@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);

@import url(../blocks/page/page.css);
@import url(../blocks/page/__container/page__container.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__info-container/profile__info-container.css);
@import url(../blocks/profile/__pic/profile__pic.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

@import url(../blocks/elements/elements.css);

@import url(../blocks/card/card.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__info-container/card__info-container.css);
@import url(../blocks/card/__text/card__text.css);
@import url(../blocks/card/__like-button/card__like-button.css);
@import url(../blocks/card/__like-button/_active/card__like-button_active.css);
@import url(../blocks/card/__delete-button/card__delete-button.css);
@import url(../blocks/card/__fullscreen-button/card__fullscreen-button.css);




@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__info-form-input/popup__info-form-input.css);
@import url(../blocks/popup/__new-place/popup__new-place.css);
@import url(../blocks/popup/__add-button/popup__add-button.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/./_opened/popup_opened.css);
@import url(../blocks/popup/__info-form/popup__info-form.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);


.popup__figure{
flex-direction: column;

}

.popup__figure-image{
    max-height: 75vh;
    max-width: 75vw;
}
































