.profile__add-button {
    border: 2px solid #ffffff;
    border-radius: 2px;
    min-width: 150px;
    height: 50px;
    background-image: url(../../../images/add_icon.svg);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    align-self: center;
  }

  @media screen and (max-width:650px) {
    .profile__add-button{
      min-width:282px;
      margin-top: 36px;
    }
  }