.popup__info-form-input{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom:1px solid rgba(0 0 0 /20%);
    padding-bottom: 13px;
    box-sizing: border-box;
    
}


.popup__info-form-input:first-of-type{
    margin-bottom: 29px;
}